In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
concatenated_df= pd.read_csv('Dataset/Concat_dataframe.csv')
concatenated_df

       HCHO reading             Location Current Date   Next Date  Year  Month
0          0.000263     Deniyaya, Matara   2019-01-01  2019-01-02  2019      1
1          0.000263  Nuwara Eliya Proper   2019-01-01  2019-01-02  2019      1
2          0.000263       Colombo Proper   2019-01-02  2019-01-03  2019      1
3          0.000006     Deniyaya, Matara   2019-01-02  2019-01-03  2019      1
4          0.000006  Nuwara Eliya Proper   2019-01-02  2019-01-03  2019      1
...             ...                  ...          ...         ...   ...    ...
12774      0.000158    Kurunegala Proper   2023-12-30  2023-12-31  2023     12
12775      0.000117        Jaffna Proper   2023-12-30  2023-12-31  2023     12
12776      0.000117   Bibile, Monaragala   2023-12-31  2024-01-01  2023     12
12777      0.000065    Kurunegala Proper   2023-12-31  2024-01-01  2023     12
12778      0.000065        Jaffna Proper   2023-12-31  2024-01-01  2023     12

[12779 rows x 6 columns]

In [3]:
from statsmodels.tsa.stattools import adfuller

# Perform the Augmented Dickey-Fuller test
adf_test = adfuller(concatenated_df['HCHO reading'])

# Display ADF test results
print('ADF Statistic:', adf_test[0])
print('p-value:', adf_test[1])
print('Critical Values:')
for key, value in adf_test[4].items():
    print(f'\t{key}: {value:.3f}')

# Determine stationarity based on the p-value
if adf_test[1] > 0.05:
    print("The series is likely non-stationary and may require differencing.")
else:
    print("The series is likely stationary.")

ADF Statistic: -11.898903483942442
p-value: 5.635878967159958e-22
Critical Values:
	1%: -3.431
	5%: -2.862
	10%: -2.567
The series is likely stationary.